{% extends "base.html" %} 
{% block title %}Registration Page{% endblock %}
{% block body %}



    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.4/assets/css/ie10-viewport-bug-workaround.css">

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://getbootstrap.com/docs/3.4/assets/js/ie-emulation-modes-warning.js"></script>
          <h3>Contact Info</h3>
          Hi, its Adesiyan Oladipo. For now, it's still I alone. Contact me by calling or sending message to me on Whatsapp 08147103054 also through mail adesiyanoladipo1@gmail.com
          {% endblock %}
          